@model KwikKwekSnack.Data.DrinkInOrder
@{
    ViewData["Title"] = "Drinks";
    KwikKwekSnack.Data.SnackRepo _repo = new KwikKwekSnack.Data.SnackRepo();
}

<div class="item-overview">
    <section class="drinks">
        <form asp-action="Drinks">
            <div class="snack-size">
                @foreach (KwikKwekSnack.Data.Item drink in _repo.GetDrinks())
                {
                    <div class="snack-img-box">
                        <img src="~/img/@drink.ImageURL" class="snack-img" />
                        @Html.Raw($"<p style=\"color:white; text-align: center; \">{drink.Name}</p>")
                        @Html.RadioButtonFor(model => model.DrinkName, drink.Name)
                        <input asp-for="OrderID" value="@Model.Order.OrderID" type="hidden">
                    </div>
                }
            </div>
            <!--<div class="drink-size">
                <div class="drink-img-box">
                    <img src="~/img/placeholder.jpeg"
                         class="drink-size-s" />
                    <input name="Drink"
                           type="radio"
                           asp-for="Size"
                           value="M" />
                </div>
                <div class="drink-img-box">
                    <img src="~/img/placeholder.jpeg"
                         class="drink-size-m" />
                    <input 
                        name="Drink" 
                        type="radio"
                        asp-for="Size" 
                        value="M" />
                </div>
                <div class="drink-img-box">
                    <img src="~/img/placeholder.jpeg"
                         class="drink-size-l" />
                    <input name="Drink"
                           type="radio"
                           asp-for="Size"
                           value="M" />
                </div>
                <div class="drink-img-box">
                    <img src="~/img/placeholder.jpeg"
                         class="drink-size-xl" />
                    <input name="Drink"
                           type="radio"
                           asp-for="Size"
                           value="M" />
                </div>
            </div>-->
            <div class="drink-options">
                <p>Opties</p>

                <ul>
                    <li>
                        <label asp-for="Size" class="control-label"></label>
                        <select asp-for="Size" asp-items="Html.GetEnumSelectList<KwikKwekSnack.Data.Size>()"></select>
                    </li>
                    <li>
                        <input type="checkbox" asp-for="Ice">Ijs</input>
                    </li>
                    <li>
                        <input type="checkbox" asp-for="Straw">Plastic rietje</input>
                    </li>
                </ul>
            </div>
            <footer class="btn-div">
                <input type="submit" class="btn-1" value="Toevoegen"/>
                <a href="~/Home/Snacks" class="btn-1">Naar snacks</a>
            </footer>
        </form>
    </section>
    <aside class="overview-with-btn">
        <div class="overview">
            <h4>Overzicht</h4>
            <h4>Drankjes:</h4>
            <ul>
                @foreach (KwikKwekSnack.Data.DrinkInOrder drankje in Model.Order.Drinks)
                {
                    <li>
                        @drankje.DrinkName.......@drankje.Amount
                        <ul>
                                                    <li>Grootte: @drankje.Size</li>
                            @if (drankje.Ice){      <li> Ijs</li>}
                            @if (drankje.Straw){    <li>Rietje</li>}
                        </ul>
                    </li>
                }
            </ul>
            <h4>Snacks:</h4>
            <ul>
                @foreach (KwikKwekSnack.Data.SnackInOrder snack in Model.Order.Snacks)
                {
                    <li>@snack.SnackName.......@snack.Amount</li>
                }
            </ul>
            <h4>Totaal bedrag:
                <p>€@String.Format("{0:0.00}",_repo.GetOrderPrice(Model.Order)).ToString()</p>
            </h4>
        </div>
        <footer class="btn-div">
            <a class="btn-2">Afronden</a>
        </footer>
    </aside>
</div>
