@model KwikKwekSnack.Data.SnackInOrder
@{
    KwikKwekSnack.Data.SnackRepo _repo = new KwikKwekSnack.Data.SnackRepo();
}

<div class="item-overview">
    <section class="drinks">
        <form asp-action="Snacks">
            <div class="snack-size">
                @foreach (KwikKwekSnack.Data.Item snack in _repo.GetSnacks())
                {
                    <div class="snack-img-box">
                        <img src="~/img/@snack.ImageURL" class="snack-img" />
                        @Html.Raw($"<p style=\"color:white; text-align: center; \">{snack.Name}</p>")
                        @Html.RadioButtonFor(model => model.SnackName, snack.Name)
                        <input asp-for="OrderID" value="@Model.Order.OrderID" type="hidden">
                    </div>
                }
            </div>
            <footer class="btn-div">
                <input type="submit" class="btn-1" value="Toevoegen" />
            </footer>
        </form>
    </section>
    <aside class="overview-with-btn">
        <div class="overview">
            <h4>Overzicht</h4>
            <h4>Drankjes:</h4>
            <ul>
                @foreach (KwikKwekSnack.Data.DrinkInOrder drankje in Model.Order.Drinks)
                {
                    <li>
                        @drankje.DrinkName.......@drankje.Amount
                        <ul>
                            <li>Grootte: @drankje.Size</li>
                            <li>Ijs: @drankje.Ice</li>
                            <li>Rietje: @drankje.Straw</li>
                        </ul>
                    </li>
                }
            </ul>
            <h4>Snacks:</h4>
            <ul>
                @foreach (KwikKwekSnack.Data.SnackInOrder snack in Model.Order.Snacks)
                {
                    <li>@snack.SnackName.......@snack.Amount</li>
                }
            </ul>
            <h4>
                Totaal bedrag:
                <p>@_repo.GetOrderPrice(Model.Order)</p>
            </h4>
        </div>
        <footer class="btn-div">
            <a class="btn-2">Afronden</a>
        </footer>
    </aside>
</div>