@model WebApp.Models.SnackInOrder
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    KwikKwekSnack.Data.SnackRepo _repo = new KwikKwekSnack.Data.SnackRepo();
}

<div class="item-overview">
    <section class="drinks">
        <form asp-action="Snacks">
            <div class="snack-size">
                @foreach (KwikKwekSnack.Data.Item snack in _repo.GetSnacks())
                {
                    <div class="snack-img-box">
                        <img src="~/img/@snack.ImageURL" class="snack-img" />
                        @Html.RadioButtonFor(model => model.SnackName, snack.Name) @snack.Name
                        <input id="OrderID" value="@Model.Order.OrderID" type="hidden">
                    </div>
                }
            </div>
            <input type="submit" class="btn-1" name="Toevoegen"/>
        </form>
    </section>
    <aside class="overview">
        <!--Overview-->
        <p>Overzicht</p>
        <p>Drankjes:</p>
        <ul>
            @foreach (DrinkInOrder drankje in Model.Order.Drinks)
            {
            <li>@drankje.DrinkName</li>
            }
        </ul>
        <p>Snacks:</p>
        <ul>
            @foreach(SnackInOrder snack in Model.Order.Snacks){
                <li>@snack.SnackName</li>
            }
        </ul>
    </aside>
</div>